// SCSS for dylanaraps.com

@import 'normalize';

// VARIABLES {{{

$body-margin: 700px;
$body-width: 90%;
$body-text-color: #222;
$magic-margin: 1.63em;

$blockquote-border-color: #ccc;
$blockquote-text-color: #555;

$code-bg-color: #eee;

$link-color: #344a91;
$link-color2: #34917b;
$link-color3: #fff;

$nav-height: 100px;
$nav-link-color: #222;

$header-height: 400px;
$header-text-color: #fff;

$main-title-border-color: #eee;

$article-link-color: #222;
$article-date-color: #555;

$footer-border-color: #eee;
$footer-height: 100px;

// }}}

// MIXINS {{{

@mixin pixelated {
  image-rendering: -webkit-optimize-contrast; // Safari 6, UC Browser 9.9
  image-rendering: -webkit-crisp-edges; // Safari 7+
  image-rendering: -moz-crisp-edges; // Firefox 3.6+
  image-rendering: -o-crisp-edges; // Opera 12
  image-rendering: pixelated; // Chrome 41+ and Opera 26+
  -ms-interpolation-mode: nearest-neighbor; // IE 7+ (non-standard property)
}

@mixin ghost-button($width, $color, $color2) {
  border: 2px solid $color;
  color: $color;
  display: inline-block;
  margin-right: 1%;
  opacity: .7;
  padding: 8px;
  text-align: center;
  transition: .2s;
  width: $width;

  &:hover {
    background-color: $color;
    border: 2px solid $color;
    color: $color2;
  }
}

.button-green {
  @include ghost-button(120px, $link-color2, $link-color3);
}

.button-blue {
  @include ghost-button(120px, $link-color, $link-color3);
}


// }}}

// CSS RESET {{{

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  min-height: 100vh;
}

// }}}

// BODY {{{

body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

// }}}

// FONTS {{{

h1,
h2,
h2 a,
nav li:first-child a {
  font-family: Georgia,Times,Times New Roman,serif;
}

h3,
h4,
h5,
p,
a,
ul,
ol,
li {
  font-family: Verdana,Geneva,sans-serif;
}

blockquote {
  font-family: monospace;
}

// }}}

// TEXT {{{

%body-copy {
  color: $body-text-color;
  font-size: 1.1em;
  line-height: $magic-margin;
  margin: $magic-margin 0;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: .2s;

  &:hover {
    border-bottom: 2px solid $nav-link-color;
  }
}

.date {
  color: $article-date-color;
  font-size: 12px;
  font-weight: normal;
  margin: 10px 0 0 0;
}

.code {
  background: $code-bg-color;
  padding: 5px;
}

code {
  display: block;
  white-space: pre-wrap;
}

// }}}

// IMAGES {{{

img,
video {
  width: 100%;
}

.pixelated {
  @include pixelated;
}

.responsive {
  display: block;
  height: 500px;
  margin-bottom: $magic-margin;
  object-fit: cover;
  width: 100%;
}

// }}}

// NAV {{{

nav {
  height: $nav-height;
  line-height: $nav-height;
  width: 100%;

  ul {
    display: block;
    list-style: none;
    margin: 0 auto;
    max-width: $body-margin;
    width: $body-width;
  }

  li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;

    &:first-child {
      font-size: 2em;
      font-weight: bold;
    }

    &:last-child {
      margin-right: none;
    }
  }

  a {
    color: $nav-link-color;
  }
}

// }}}

// HEADER {{{

header {
  animation: fadein .3s;
  background-position: center center;
  background-size: cover;
  height: $header-height;
  line-height: $header-height;
  min-height: $header-height;
  text-align: center;
  width: 100%;

  h1 {
    color: $header-text-color;
    font-size: 3em;
  }
}

// }}}

// MAIN {{{

main {
  animation: slideup .5s;
  display: block;
  flex: 1;
  margin: 30px auto;
  max-width: $body-margin;
  width: $body-width;

  h1 {
    border-bottom: 1px solid $main-title-border-color;
    font-size: 3em;
    margin: 15px 0 30px;
    padding-bottom: .3em;
  }

  p {
    @extend %body-copy;
  }

  blockquote {
    @extend %body-copy;

    border-left: 5px solid $blockquote-border-color;
    color: $blockquote-text-color;
    padding-left: 15px;
  }

  ul,
  ol {
    @extend %body-copy;

    margin: 0;
    padding-left: 20px;
  }
}

// }}}

// BLOG {{{

article {
  margin: 40px 0;

  .date {
    margin-bottom: 10px;
  }

  .blog-title {
    color: $article-link-color;
  }
}

// }}}

// RICE {{{

.rice {
  max-height: 150px;
}

.rice-img {
  margin-bottom: 5px;
  width: 100%;
}

// }}}

// FOOTER {{{

footer {
  border-top: 1px solid $footer-border-color;
  display: block;
  line-height: $footer-height;
  margin: 0 auto;
  max-width: $body-margin;
  min-height: $footer-height;
  padding: .3em;
  width: $body-width;

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 20px;
  }
}

// }}}

// ANIMATIONS {{{

@keyframes slideup {
  from {
    margin-top: 5%;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// }}}

// MEDIA QUERIES {{{

@media only screen and (max-width:700px){
  header {
    min-height: 300px;
  }

  main {
    h1 {
      font-size: 2em;
    }
  }
}

@media only screen and (max-width:400px){
  nav {
    li:first-child {
      font-size: 1.5em;
    }
  }

  main {
    p {
      font-size: 1em;
    }
  }
}

// }}}
