// SCSS for dylanaraps.com

@import 'normalize';

// VARIABLES {{{

$body-margin: 700px;
$body-width: 90%;
$body-text-color: #222;

$link-color: #344a91;

$nav-height: 100px;
$nav-link-color: #222;

$header-height: 400px;
$header-text-color: #fff;

$main-title-border-color: #eee;

$article-link-color: #222;
$article-date-color: #555;

$footer-border-color: #eee;
$footer-height: 75px;
$footer-height: 75px;

// }}}

// MIXINS {{{

@mixin ghost-button($width, $color, $color2) {
  border: 2px solid $link-color;
  color: $link-color;
  display: inline-block;
  margin-right: 5px;
  padding: 10px;
  text-align: center;
  transition: .2s;
  width: $width;

  &:hover {
    background-color: $color / 2;
    color: $color2;
  }
}

.button {
  @include ghost-button(150px, #222, #fff);
}


// }}}

// CSS RESET {{{

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

// }}}

// FONTS {{{

h1,
h2,
h2 a,
nav li:first-child a {
  font-family: Georgia,Times,Times New Roman,serif;
}

h3,
h4,
h5,
p,
a {
  font-family: Verdana,Geneva,sans-serif;
}

// }}}

// TEXT {{{

a {
  color: $link-color;
  text-decoration: none;
  transition: .2s;

  &:hover {
    border-bottom: 2px solid $nav-link-color;
  }
}

p {
  color: $body-text-color;
  line-height: 1.5;
  margin: 10px 0;
}

// }}}

// NAV {{{

nav {
  height: $nav-height;
  line-height: $nav-height;
  width: 100%;

  ul {
    display: block;
    list-style: none;
    margin: 0 auto;
    max-width: $body-margin;
    width: $body-width;
  }

  li {
    display: inline-block;
    margin-right: 20px;

    &:first-child {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  a {
    color: $nav-link-color;
  }
}

// }}}

// HEADER {{{

header {
  background-position: center center;
  background-size: cover;
  height: $header-height;
  line-height: $header-height;
  text-align: center;
  width: 100%;

  h1 {
    color: $header-text-color;
    font-size: 3em;
  }
}

// }}}

// MAIN {{{

main {
  display: block;
  margin: 30px auto 0;
  max-width: $body-margin;
  width: $body-width;

  h1 {
    border-bottom: 1px solid $main-title-border-color;
    margin-bottom: 30px;
    padding-bottom: .3em;
  }
}

// }}}

// BLOG {{{

article {
  margin: 25px 0;

  h2 {
    margin-bottom: 10px;
  }

  .date {
    color: $article-date-color;
  }

  .blog-title {
    color: $article-link-color;
  }
}

// }}}

// FOOTER {{{

footer {
  border-top: 1px solid $footer-border-color;
  display: block;
  height: $footer-height;
  line-height: $footer-height;
  margin: 0 auto;
  max-width: $body-margin;
  padding-top: .3em;
  width: $body-width;

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 20px;
  }
}

// }}}
